*{
  list-style: none;
  color: rgb(0, 60, 255);
  background-color:#222121fe;
 }
 :root{
   --bg_color:#222121fe;
   --main_color:rgb(0, 60, 255);
 }
 .changers{
   display: flex;
   justify-content: space-between;
   align-items: end;
   margin: 20px 30px;
   border: 1px dashed white;
   }
 form{
   background-color: transparent;
   flex-wrap: nowrap;
 }
 input{
   height: 100%g;
   background-color: aliceblue;
   border-radius: 10px 0 0 10px ;
 }
 button{
   border: none;
   border-radius: 0 10px 10px 0;
   background-color: var(--main_color);
   color: var(--bg_color);
 }
 
 
 select{
 
 border: none;
 }
 .contry-card
 {
   width: 100%;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   margin: 20px 10px ;
   
 }
 .main{
   display: flex;
   flex-direction: column;
   border: 2px solid var(--main_color);
 }
 
 .flag{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   text-align: center;
   padding: 20px 30px;
 }
 img{
   width: 100%;
   height: 200px;
 }